nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 2em;
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    background: white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 5vh;
    user-select: none;
}

.logo-container {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    letter-spacing: -2px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    color: black;
}

.user-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

#createBtn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

#createBtn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#postsBtn {
    color: black;
    margin: 1em;
    font-weight: 600;
}

.username {
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.fa-user-astronaut {
    font-size: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.menu-items {
    z-index: 2;
    position: fixed;
    display: none;
    flex-direction: column;
    width: 6em;
    right: 1vw;
    top: 4em;
    border-radius: 5px;
}

.menu-items a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    border-radius: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.menu-items a:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}
